.kingdom-lobby {
    width: 100%;
    display: flex;

    justify-content: center;
}

.kingdom-lobby__contents {
    display: flex;
    gap: 24px;

    min-width: 500px;
    justify-content: space-between;
}

.kingdom-lobby__list-item--bold {
    font-weight: 700;
}
