.player-formation__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.player-formation__grid-item {
    text-align: center;
    padding: 8px;

    border-radius: 8px;
    background-color: #3b3b40;
    box-shadow: 1px 1px 4px #1f2028;
}

.player-formation__grid-item--targetable {
    border: 1px solid #fcfeff;
    animation: player-formation-smooth-flash 1.5s ease-in-out infinite alternate;
}
@keyframes player-formation-smooth-flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.75;
    }
}
.player-formation__grid-item--targetable:hover {
    background-color: #49494e;
}

.player-formation__grid-item--selectable:hover {
    background-color: #49494e;
}

.player-formation__information {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
