.monster-item {
    position: relative;
    text-align: center;
    padding: 8px;

    border-radius: 8px;
    background-color: #3b3b40;
    box-shadow: 1px 1px 4px #1f2028;
}

.monster-item--selecting {
    border: 1px solid #fcfeff;
    animation: monster-item-smooth-flash 1.5s ease-in-out infinite alternate;
}
.monster-item--selecting:hover {
    background-color: #49494e;
}

@keyframes monster-item-smooth-flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.75;
    }
}
