.monster-item {
    position: relative;
    text-align: center;
    padding: 8px;

    border-radius: 8px;
    background-color: #3b3b40;
    box-shadow: 1px 1px 4px #1f2028;
}

.monster-item--selecting {
    border: 1px solid #fcfeff;
    animation: monster-item-smooth-flash 1.5s ease-in-out infinite alternate;
}
.monster-item--selecting:hover {
    background-color: #49494e;
}

@keyframes monster-item-smooth-flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.75;
    }
}

.monster-item__damage-number {
    position: absolute;
    font-weight: bold;
    color: red;
    animation: monster-item-damage-number 500ms infinite ease-in-out;
}

@keyframes monster-item-damage-number {
    0% {
        transform: translateY(0) scale(0.5);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: translateY(-5px) scale(1.2);
        opacity: 0;
    }
}
